@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@responsive {
  .border-box {
    box-sizing: border-box;
  }
  .content-box {
    box-sizing: content-box;
  }
}

html {
  font-family: 'Roboto', sans-serif;
}