@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

h1,
.h1 {
  @apply text-5xl font-light;
  letter-spacing: -1.5px;
}

h2,
.h2 {
  @apply text-4xl font-light;
  letter-spacing: -0.5px;
}

h3,
.h3 {
  @apply text-3xl font-normal;
  letter-spacing: 0px;
}

h4,
.h4 {
  @apply text-2xl font-normal;
  letter-spacing: 0.25px;
}

h5,
.h5 {
  @apply text-xl font-normal;
  letter-spacing: 0px;
}

h6,
.h6 {
  @apply text-base font-medium;
  letter-spacing: 0.15px;
}

hr {
  @apply border-t border-gray-400 border-solid;
}

.subtitle-1 {
  @apply text-base;
  letter-spacing: 0.15px;
}

.subtitle-2 {
  @apply text-base text-sm font-medium;
  letter-spacing: 0.15px;
}

p,
.body-1 {
  @apply text-base;
  letter-spacing: 0.5px;
}

.body-2 {
  @apply text-sm;
  letter-spacing: 0.25px;
}

.button {
  letter-spacing: 0.0892857143em;
  transition: box-shadow 0.2s ease;
  @apply py-2 px-4 uppercase text-sm font-medium;
}

caption,
.caption {
  font-size: 0.625rem;
  letter-spacing: 0.4px;
  display: inline-block;
}

input:focus,
button:focus,
textarea:focus,
select:focus {
  @apply outline-none;
}

html {
  font-family: "Roboto", sans-serif;
}

.list {
  @apply absolute left-0 bg-white rounded elevation-3 w-full z-10;
  margin-top: 2px;
}

.a {
  @apply underline text-blue-600;
}

.code-inline {
  @apply body-2 bg-teal-50 text-teal-900 rounded-sm p-1;
}